ion-card {
  border-radius: 20px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

ion-card:hover {
  transform: scale(1.03);
  transition: 0.2s;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

button {
  padding: 8px 12px;
  border-radius: 10px;
  border: none;
  background: #eee;
}